//colors - palette
//timer-section
$timer-bg:#f5f5f5;

//- cube
$cube-white:#ffffff;
$cube-bay-many:#224184;
$cube-silver:#bcbcbc;
$cube-cod-gray:#1b1b1b;
$cube-tuli-tree:#efab43;
$cube-boulder:#797979;
$cube-cerulean:#029fcc;
$cube-thunderbird:#d71f18;
$cube-malibu:#69a0fd;
$cube-walnut:#784619;

//- median cut
$median-pickled-bluewood:#374a5e;
$median-hint-red:#f4f0ef;
$median-tussock:#cc9f4c;
$median-tower-gray:#a3b8be;
$median-matrix:#a65d50;

//- material
$material-tussock:#c2944f;
$material-dust-gray:#9a9898; 
$material-bay-many:#22437d; 
$material-smalt-blue:#4f7f85; 
$material-ice-cold:#b1e4f4; 

//- button
$main-btn-fg:#ffffff;
$main-btn-bg:#ef6f31;//hover btn2
$main-btn-hover-bg:#6ac5f1;
$main-btn2-bg:#fdf0ea;
$btn-border-radius:4px;

//-sizes
$header-max-w:1150px;